<footer id="<%= id %>" class="container-fluid text-center">
    <a href="#top" title="<%= data.glyphiconTitle %>">
        <span class="glyphicon <%= data.glyphicon %>"></span>
    </a>
    <p><a href="<%= data.href %>" title="<%= data.pTitle %>"><%= data.p %></a></p>
</footer>